{% extends "base.html" %}
{% block content %}



<div id="carouselProcessadores" class="carousel slide mx-auto" data-bs-ride="carousel" style="max-width: 700px;">
    <h2>Processadores</h2>
    <div class="carousel-inner">

        {% for produto in produtos %}
        {% if produto.categoria.nome == "Processadores" %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" class="d-block w-100" alt="{{ produto.nome }}"
                style="max-height:400px; object-fit:contain;">
            {% endif %}


            <!-- Informações -->
            <figcaption class="info-wrap">
                <h3 class="text-center mb-3">{{ produto.nome }}</h3>
                <p class="text-justify">{{ produto.descricao }}</p>
            </figcaption>
        </div>
        {% endif %}
        {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProcessadores" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Anterior</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselProcessadores" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>


<hr class="my-5">

<h2>Placas-mãe</h2>

{% for produto in produtos %}
{% if produto.categoria.nome == "Placas-mãe" %}
<p>{{ produto.nome }}</p>
{% endif %}
{% endfor %}

{% endblock %}