{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Lista de Produtos</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for produto in produtos %}
        <div class="col">
            <div class="card shadow-sm h-100">

                {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" class="card-img-top" alt="{{ produto.nome }}"
                    style="height: 250px; object-fit: cover;">
                {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="250"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Sem imagem</text>
                </svg>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <p class="card-text">Preço: R$ {{ produto.preco }}</p>
                    <p>Em estoque: {{produto.estoque}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'detalhe_produto' produto.id %}" class="btn btn-success btn-lg" h>COMPRAR
                                🛒</a>
                            <!--<button type="button" class="btn btn-sm btn-outline-secondary"></button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}